<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dhaka University Society Hub</title>

    <link rel="stylesheet" href="{{url_for('static',filename= 'layout.css')}}"/>

    <link rel="stylesheet" href="{{url_for('static',filename= 'signIn_signUp.css')}}"/>


</head>
<body>


<div class="wrapper row1" >
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">

      <h2><a href="index.html">Dhaka University Society Hub</a></h2>

      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <!--<li ><a href="all_clubs.html">DU clubs</a></li>-->
          <!--<li><a href="signIn_signUp">Sign Up/In</a></li>-->
          <!--<li><a href="create_class">Create Club</a></li>-->
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>


<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">

            <form action="/club_signIn" method="post" enctype="multipart/form-data">

			<div class="sign-in-htm">
				<div class="group">
					<label for="club_code" class="label">Club/Society code</label>
					<input id="club_code" name="club_code" type="number" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" name="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>

				<p>{{err}}</p>

				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>


            </form>



		</div>
	</div>
</div>
<script  src="/static/signin_signUp.js"></script>

<script language = "javascript" type = "text/javascript">

function checkPass()
{
    var pass1 = document.getElementById('new_user_pass');
    var pass2 = document.getElementById('confirm_new_pass');
    var message = document.getElementById('msg');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";

    if(pass1.value.length <6 ){
        pass1.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = " you have to enter at least 6 digit!"
        return;
    }else
    {
    }

    if(pass1.value == pass2.value)
    {
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "ok!"
    }
	else
    {
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = " These passwords don't match"
    }
}



</script>



</body>
</html>